@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style-type: none;
    display: flex;
    li{
        padding: 2px 10px;
        font-size: 11px;
        font-weight: bold;
    }
}
body{
    background-image: url("../img/pozadina.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 0px;
    .logo{
        width: 15%;
        margin: 0px auto;
        text-align: center;
        border-radius: 50%;
        img{
            width: 100%;
            border-radius: 50%;
            border: 3px solid black;
        }
    }
    .logoLowrez{
       display: none; 
    }
    .rasporedLowrez{
        display: none;
    }
    .timeline{
        width: 95%;
        background-color: rgba(0, 0, 0, 0.9);
        margin: 0px auto;
        border: 5px solid rgba(255, 102, 0, 0.774);
        text-align: center;
        h1{
            font-size: 110px;
            color: white;
            padding-top: 10px;
            letter-spacing: 5px;
        }
        h2{
            font-size: 40px;
            color: yellow;
        }
        .raspored{
            padding-top: 30px;
            width: 100%;
            margin: 0px auto;
            display: flex;
            justify-content: center;
            text-align: center;
            .dan{
                width: 20%;
                border-right: 2px solid rgba(255, 102, 0, 0.774);
                border-left: 2px solid rgba(255, 102, 0, 0.774);
                color: white;
                h3{
                    font-size: 50px;
                }
                p{
                    font-size: 30px;
                    font-weight: bold;
                }
                ul{
                    width: 100%;
                    text-align: center;
                    padding: 30px 0px;
                    display: flex;
                    flex-direction: column;
                    li{
                        width: 100%;
                        text-align: center;
                        color: yellow;
                        padding: 5px 0px;
                        font-size: 30px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1030px){
    body .timeline h2 {
        font-size: 30px;
    }
    body .timeline .raspored .dan h3 {
        font-size: 35px;
    }
    body .timeline .raspored .dan ul li {
        font-size: 20px;
    }
}
@media screen and (max-width: 770px){
    .logo{
        display: none;
    }
    .logoLowrez{
        display: block !important;
        width: 30%;
        margin: 0px auto;
        border-radius: 50%;
        img{
            width: 100%;
            border-radius: 50%;
            border: 3px solid black;
        }
    }
    .timeline{
        width: 100% !important;
        border: none !important;
    }
    body .timeline h1 {
        font-size: 40px;
    }
    body .timeline h2 {
        font-size: 20px;
    }
    body .timeline .raspored .dan {
        width: 50% !important;
    }
    body .timeline .raspored .dan h3 {
        font-size: 25px;
    }
    body .timeline .raspored .dan p {
        font-size: 20px;
    }
    body .timeline .raspored .dan ul li {
        font-size: 20px;
    }
}
@media screen and (max-width: 430px){
    .dropbtn {
        background-color: rgba(0, 0, 0, 0);
        color: white;
        padding: 16px;
        font-size: 20px;

        border: none;
        z-index: 3;
      }
      .dropdown {
        width: 100%;
        position: relative;
        display: inline-block;
        z-index: 3;
      }
      .dropdown-content {
        width: 100%;
        display: none;
        background-color: rgba(0, 0, 0, 0);
        min-width: 160px;
        z-index: 3;
      }
      .dropdown-content p {
        color: yellow;
        padding: 12px 16px;
        font-size: 18px;
        text-decoration: none;
        display: block;
        z-index: 3;
      }
      
      .dropdown:hover .dropdown-content {display: block;}
      
      .dropdown:hover .dropbtn {background-color: linear-gradient(285.33deg, #E3AA67 34.3%, #EF716A 63.62%), #FFFFFF;;}
      header #logo {
        width: 100%;
      }
    .logoLowrez{
        margin: 0px auto;
        border-radius: 50%;
        img{
            width: 100%;
            border-radius: 50%;
        }
    }
    .raspored{
        display: none !important;
    }
    .rasporedLowrez{
        width: 100%;
        padding: 30px 0px;
        ul{
            width: 100%;
            display: flex;
            flex-direction: column;
            li{
                color: white;
                padding: 20px 0px;
                width: 100%;
            }
        }
    }
}
